#container{
    width: 850px;
    border: 2px solid gray;
    border-radius: 20px;
    margin: 10px auto;
    padding: 10px;
}

#piece-container{
    width: 408px;
    height:408px;
    border: 1px solid white;
    float: left;
    text-align: center;
    font-size: 30px;
    line-height: 400px;
    position: relative;

}

#puzzle-container{
    width: 408px;
    height:408px;
    border: 1px solid white;
    float: right;
    
}

ul
{
    list-style: none;
    text-align: center;
}

ul button{
    width:100px;
    border: 1px solid white;
    font-size:20px;
    border-radius:5px;
    padding:5px;
    margin-top: 10px;
    cursor: pointer;
}

#resetbtn{
    display:none;
}

.piece{
    width: 100px;
    height: 100px;
    border: 1px solid white;
    float: left;
    background-image:url("../images/puzzlea/Aragorn.jpg");
    background-repeat: no-repeat;
    cursor: grabbing;
}