table 	{ 
	color: white;
	text-align: center;
	height: 500px;
	width: 1000px;
	border: 0px;
	margin-left: auto;
    margin-right: auto;
		}

.td0	{ 
	border: 0px;
	
		}

.start{
	color: red;
	background: white;
}

	
.greensquare	{ 
	width: 300px;
	height: 85px;
	background-color: #8A884F;
	color: exit;
		}

.bluesquare	{ 
	width: 300px;
	height: 85px;
	background-color:#479298;
	color: exit;
		}

.purplesquare	{ 
	width: 300px;
	height: 85px;
	background-color: #922823;
	color: exit;
		}

.yellowsquare	{ 
	width: 300px;
	height: 85px;
	background-color: #DABC5C;
	color: exit;
		}

.orangesquare	{ 
	width: 300px;
	height: 85px;
	background-color: #D2873A;
	color: exit;
		}

.end{
	color: red;
	background-image: url("./images/wallpaperflare.com_wallpaper.jpg");
	background-size: cover;
}


		

h1		{
	
	color: black;
	text-align: center;
		}	

h2              {
    color: red;
	text-decoration: underline;
	font-weight: bold;
	font-size: 175%;
		}
h3 		{
	font-size: 130%;
		}
body 	{
/* 1er essai
background-attachment:fixed;
background-color:white;
*/
background:url("./images/lotr-background.jpg") no-repeat center center fixed;





	margin:0;
	padding:0;

	-moz-background-size: cover; /*mozilla */

 background-size: cover;  /*standard*/

		}
#dice {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

#rolldice{
	width: 120px;
	height: 120px;
	border: 2px solid gray;
	align-items: center;
}



/* Colors: 

gold : #DABC5C
khaki green: #8A884F
light green: #99B051
orange: #D2873A
brown: #785039
blue: #479298
red: #922823
*/ 


.icons {

	width: 55px;
}

.startIcon {

	width: 90px;
}
